body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-style: 50px;
}
.name-highlights{
    color: rgb(247, 111, 15);
}
.half-width{
    width: 40%;
    float: left;
}
.half-width{
    margin-left: 3%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}